a {
	color: white;
	background: pink;
}
body{
	background-image: url("1234.png");
}
h1{
	text-align: center;
	color: pink; 
}
h2{
	margin-left: 60%;
	color: pink;
}
p {
	text-indent: 32px;
	font-size: 16px;
	line-height: 32px;
	color: white;
}
img{
	position: absolute;
	left: 50%;
	margin-left: -181px;
}